/* Logo animations */
@keyframes revealLine {
    from {
        clip-path: inset(0% 100% 0% 0%);
    }

    to {
        clip-path: inset(0% 0% 0% 0%);
    }
}

@keyframes reveal {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* Logo Flower */

@keyframes round {
    from {
        transform: rotate(-180deg);
    }


    to {
        transform: rotate(180deg);
    }
}

@keyframes popping {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bottomToTopSwitch {
    from {
        transform: translateX(00%) translateY(00%);
        z-index: 0;
    }

    50% {
        transform: translateX(10%) translateY(10%);
        z-index: 0;
    }

    51% {
        z-index: 6;
    }

    to {
        transform: translateX(00%) translateY(00%);
        z-index: 6;
    }
}

@keyframes topToBottomSwitch {
    from {
        transform: translateX(00%) translateY(00%);
        z-index: 5;
    }

    50% {
        transform: translateX(-10%) translateY(-10%);
        z-index: 5;
    }

    51% {
        z-index: 5;
    }

    to {
        transform: translateX(00%) translateY(00%);
        z-index: 5;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateX(00%) translateY(0%) rotate(-2deg);
    }

    25% {
        transform: translateX(0%) translateY(5%) ;
    }

    50% {
        transform: translateX(0%) translateY(0%) rotate(2deg);
    }

    75% {
        transform: translateX(0%) translateY(5%) ;
    }

    to {
        transform: translateX(00%) translateY(0%) rotate(-2deg);
    }

}