body {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(#ffffff,
            #9ad3ff,
            #9ad3ff);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    margin-top: 80px;
}

@font-face {
    font-family: Miss;
    src: url('../Miss.otf');
}

.navC {
    background-color: #418ec8;
}

.my-gradient {
    background: linear-gradient(180deg, #418dc8, #418dc8c8);
}

.blueLg {
    font-family: 'Miss';
    color: #418ec8;
    font-size: 12em;
    margin-left: 14rem;
    height: 15rem;
    width: 23rem;
    animation: reveal 1s forwards;
    animation-delay: 500ms;
    opacity: 0;
}


.blueLgUnderline {
    height: 1.2rem; 
    animation-delay: 1300ms;
    position: relative;
    bottom: 14rem;
    left:5.5rem; 
    clip-path: inset(0% 100% 0% 0%);
    animation: revealLine 1s forwards;
    animation-delay: 1600ms;
}

.flower {
    padding-left: 13rem;
    height: 15rem;
    width:16rem;
    position: relative;
    bottom: 34rem;
    right: 14rem;
    overflow: hidden;
}

