body {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(#ffffff,
            #9ad3ff,
            #9ad3ff);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200vh;
    padding-top: 5rem;
}


@font-face {
    font-family: Miss;
    src: url('../Miss.otf');
}

.nav-link {
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}

.nav-link:hover {
    color: #307ab3;
    background-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #307ab3;
}

.nav-link:focus {
    color: white;
}

.navbar-brand {
    margin-right: 3rem;
}

.my-gradient {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Inter';
    background: linear-gradient(180deg, #307ab3, #307ab3ca);
}

.blueLg {
    position: relative;
    animation: reveal 1s forwards;
    margin-left: max(10vw, 3rem);
    height: max(20vw, 10.8rem);
    width: max(25vw, 13rem);
}

.blueTxt {
    font-family: 'Miss';
    color: #4E90CD;
    font-size: max(13vw, 7rem);
    position: absolute;
}

.blueLgUnderline {
    position: absolute;
    animation: revealLine 1s forwards;
    clip-path: inset(0% 100% 0% 0%);
    animation-delay: 1000ms;
    height: 6.5%;
    left: 24%;
    top: 70%;
}

.flower {
    position: absolute;
    width: 50%;
    height: 50%;

}

.flower-wrapper {

    position: absolute;
    top: 14%;
    left: -60%;
    width: 68%;
    height: 85%;
    overflow: hidden;
    padding-left: 60%
}
.bi-list {
    color: white;
}

.navbar-toggler {
    border: 1px white solid;
}

.navbar-toggler:focus {
    box-shadow: 0px 0px 10px 0px  rgb(255, 255, 255);
}