
body {
    margin: 0px;
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
   background: linear-gradient(#222 #444);
}

.headerContainer{
    padding-top: 35px;
}

header {
    background-color: rgb(51, 59, 70);
    height: 120px;
    margin-bottom: 50px;
    width: 100%;
    overflow: auto;   
    justify-content: center;
    display: flex;
    color:white;
    font-family: 'Roboto', sans-serif;
}h1{margin: 0px;}

.projects {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Roboto Condensed';
}
.projectsContainer:hover {

   border-radius: 5px;
   border-bottom: 7px solid;
   padding-bottom: 5px;
   border-color: firebrick;

}






